<!DOCTYPE html>
<html lang = "en">

   <head>
      <meta charset = "UTF-8">
	  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	  <meta http-equiv="Pragma" content="no-cache" />
	  <meta http-equiv="Expires" content="0" />
      <title>RSS Feeder</title>
	  <link href="css/style.css?version=1.5" rel="stylesheet" type="text/css" media="all" />
   </head>

   <body>
      <div id = "index"></div>
  	  	<script src="./index.index.js"></script> 			
   </body>

</html>